extends layout

block body
  body(id= bodyId)
    include header
    .row
      h1.large-9.large-offset-3.columns= pageTitle
    .row
      .large-9.large-offset-3.columns
    each post in postData
      .row
        .large-3.columns
          span.date=post.formattedDate
        .large-9.columns
          p
            a(href= post.url)= post.title
    include footer