h1.blogTitle= locals.blogTitle
p.blogSubTitle= locals.blogSubtitle
input.subToMe(type="button", onclick="(function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})()", value="Subscribe")
