extends layout

block body
  body(id= bodyId)
    header.row
      .large-6.large-offset-3.columns
        include header
    article
      .row
        a.permalink.large-3.columns(href="")= date       
        .large-7.columns
          h1(style="margin-top: 0;")= title         
        .large-2.hide-for-small.columns
      .row
        .large-7.large-offset-3.columns!= content
    include footer