header.row
  .large-6.large-offset-3.columns
    a(href="/")
      h1.blogTitle= locals.blogTitle
    p.blogSubTitle= locals.blogSubtitle
  nav.main
    a.emailToMe(href="mailto:" + locals.blogAuthorEmail) Email
    input.subToMe(type="button", onclick="(function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})()", value="Subscribe")
