extends layout

block body
  body(id= locals.bodyId)
    include header
    each post in locals.postData
      article(class=post.type)
        .row
          a.permalink(href= post.url)= post.formattedDate       
          .postTitle
            h1(style="margin-top: 0;")= post.title         
          .large-2.hide-for-small.columns
        .row
          .postContent!= post.postBody
    .row.pages
          .paginationWrap           
            include pagination
    include footer
