doctype html
head
  link(rel="stylesheet", href="/css/main.css")
  - if (locals.pageTitle)
    title!= locals.pageTitle + ' | ' + locals.blogTitle
  - else
    title= locals.blogTitle
  link(rel="alternate", type="application/rss+xml", href= locals.rssUrl, title= locals.blogTitle)
  meta(name="description", content= blogBio)
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width,initial-scale=1.0")

block body
  body(id= locals.bodyId)
