extends layout

block body
  body(id= bodyId)
    include header
    article(class=type)
      .row
        a.permalink(href="")= date       
        .postTitle
          h1(style="margin-top: 0;")= title         
        .large-2.hide-for-small.columns
      .row
        .postContent!= content
    include footer