extends layout

block body
  body(id= bodyId)
    include header
    .row
      .pageTitle
        h1= pageTitle
    each post in postData
      .row
        .pageContent
          p
            a(href= post.url)= post.title
            br
            span.postDate=post.formattedDate
    .row
          .paginationWrap           
            include pagination
    include footer